<div style="text-align:center"> 
  <h1> {{'hello'|translate}} </h1> 
</div> 
<h2>{{'subtitle'|translate}}</h2> 
<ul> 
  <li> 
    <h2>
      <a target="_blank" href="https://angular.io/tutorial">{{'title1'|translate}}</a>
    </h2> 
  </li> 
  <li> 
    <h2>
      <a target="_blank" href="https://github.com/angular/angular-cli/wiki">{{'title2'|translate}}</a>
    </h2> 
  </li> 
  <li> 
    <h2>
      <a target="_blank" href="https://blog.angular.io/">{{'title3'|translate}}</a>
    </h2> 
  </li> 
</ul>

<button (click)="switchLanguage('en')">{{'btn_eng'|translate}}</button>
<button (click)="switchLanguage('ko')">{{'btn_kor'|translate}}</button>
